.Home {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: inset -6px -6px 12px rgba(24, 18, 1, 0.8);
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.HButton{
    width: 60%;
    border: none;
    text-align: left;
    font-size: 16px;
    padding: 10px;
    background-color: #1d0404;
    color: bisque;
}

.HButton:hover {
    color: rgb(126, 201, 7);
}

.MusicStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-style: sans-serif;
    font-family: 'Courier New', Courier, monospace;
    float: inline-end;
}