.Home {
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgb(214, 125, 130), indigo);
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    height: 761px;
    margin-top: -3.5%;
    margin-left: 0.2%;
    box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8),
    inset 6px 6px 12px rgba(255, 255, 255, 0.4);
}

.app-name{
  text-shadow: 3px 3px #454b40;
  font-size: 55px;
  color: rgb(44, 110, 155);
  padding-left: 23px;
}

.app-caption{
  text-shadow: 2px 2px rgb(102, 112, 95);
  font-size: 22px;
  font-family: 'Recursive';
  font-family: cursive;     
  color: rgb(38, 154, 158);  
}

.home-content1{
    margin-top: 15%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.home-content2{
    margin-top: 15%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.Button{
    background-image: linear-gradient(to bottom, rgb(168, 97, 49), indigo); /* Green */
    border: none;
    padding: 10px 12px;
    text-align: center;
    font-size: 16px;
    margin: 4px 4px 4px 4px;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}

.Button:hover {
    color: black;
}

.MusicStyle{
    background-image: linear-gradient(to bottom, rgb(214, 125, 130), rgb(83, 39, 41));
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 10%;
    border-radius: 10px;
    border-width: 1px;
    font-style: sans-serif;
    font-family: 'Courier New', Courier, monospace;
    float: inline-end;
}