.Home {
    flex-direction: column;
    background-color: #d4dee9;
    width: 20%;
    padding: 10px;
    margin: 7px;
    border-radius: 10px;
    height: 750px;
    margin-top: -3%;
}

.app-name{
  text-shadow: 3px 3px #454b40;
  font-size: 55px;
  color: rgb(44, 110, 155);
  padding-left: 23px;
}

.app-caption{
  text-shadow: 2px 2px rgb(102, 112, 95);
  font-size: 22px;
  font-family: 'Recursive';
  font-family: cursive;     
  color: rgb(38, 154, 158);  
}

.home-content1{
    margin-top: 10%;
    padding: 1%;
    background-color: rgb(181, 184, 171);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.home-content2{
    margin-top: 10%;
    padding: 1%;
    background-color: rgb(181, 184, 171);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.Button{
    background-color: rgb(111, 94, 128); /* Green */
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    font-size: 16px;
    margin: 4px 4px 4px 4px;
    cursor: pointer;
    border-radius: 10px;
}

.Button:hover {
    background-color: #3e8e41;
}

.MusicStyle{
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 10%;
    border-radius: 10px;
    border-color: yellow;
    border-width: 1px;
    border-style: dashed;
    font-style: sans-serif;
    font-family: 'Courier New', Courier, monospace;
    float: inline-end;
}