.Home-Page{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 10px;
    background-color: #3d96df;
    border: 1px solid #7e412e;
}

.container{
    background-color: antiquewhite;
}

.container1{
    background-image: url("../images/TruBeat.png");
    grid-column-start: 1;
    grid-column-end: 6;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container2{
    grid-column-start: 6;
    grid-column-end: 13;
    background-color: #c0a7a0;
}

.navBar{
    top: 0;
    background-color: rgb(71, 9, 7);
    position: fixed;
    width: 100%;
    height: 9%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    z-index: 1001;
}

.navButton{
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.navButton:hover{
    background-color: rgb(76, 206, 115);
}

.Title{
    color: rgb(231, 238, 241);
    font-family: 'Courier New', Courier, monospace;
    margin-right: 60%;
    margin-top: 1.2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: large;
}