.App {
  background-color: #282c34;
  color: white;
  width: 250px;
  margin-top: -30%;
  margin-right: 10px;
  margin-left: 75%;
  border: 3px solid #73AD21;
  padding: 10px;
  border-radius: 10px;
  height: 700px;
}

.ListHold{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 300px;
  margin-top: -48.2%;
  margin-right: 10px;
  margin-left: 75%;
  padding: 10px;
  height: 700px;
}

.search{
  color: rgb(83, 9, 9);
  width: 400px;
  margin-left: 350px;
  margin-top: 20px;
  border-radius: 7px;
  background-color: rgb(239, 244, 245);
}

.Main {
  background-color: #282c34;
  color: white;
  width: 250px;
  margin-top: -30%;
  margin-right: 10px;
  margin-left: 75%;
  border: 3px solid #73AD21;
  padding: 10px;
  border-radius: 10px;
  height: 700px;
}



