.App {
  background-color: #282c34;
  color: white;
  width: 250px;
  margin-top: -30%;
  margin-right: 10px;
  margin-left: 75%;
  border: 3px solid #73AD21;
  padding: 10px;
  border-radius: 10px;
}

.ListHold{
  color: white;
  width: 300px;
  margin-top: -53%;
  margin-right: 10px;
  margin-left: 75%;
  padding: 10px;
  height: 700px;
}



